apiVersion: v1
kind: Secret
metadata:
  name: dna-admin-secrets
type: Opaque
data:
  COMPANY_LOGO:
  COMPANY_BACKGROUND:
  LANG:
  DEVISE_SECRET_KEY:
  DATABASE_URL:
  PUSHER_APP_ID:
  PUSHER_KEY:
  PUSHER_SECRET:
  PUSHER_CLUSTER:
  TOKEN_EXPIRATION:
  TOKEN_KEY_BASE:
  AWS_ACCESS_KEY_ID:
  AWS_SECRET_ACCESS_KEY:
  AWS_REGION_NAME:
  AWS_BUCKET_NAME:
  MAILGUN_HOST:
  MAILGUN_PORT:
  MAILGUN_USER:
  MAILGUN_DOMAIN:
  MAILGUN_PASS:
  DNA_API_URL:
  DNA_API_KEY:
  TWILIO_ACCOUNT_SID:
  TWILIO_AUTH_TOKEN:
  TWILIO_PHONE_NUMBER:
